.row {
  display: flex;
  flex-direction: row;
}

.title {
  display: block;
  text-align: center;
  color: white;
  font-family: "Comic Sans MS";
  cursor: pointer;
}
.title:hover {
  text-shadow: gray 1px 1px 3px;
}

button {
  flex-grow: 1;
}

.maybe {
  width: 50px;
  height: 50px;
  border-radius: 50px;
  border: 1px dashed gray;
  margin: 20px auto;
  display: block;
  cursor: pointer;
}

.row.blue .maybe:hover {
  background: blue;
}

.row.red .maybe:hover {
  background: red;
}

.row.hidden {
  visibility: hidden;
}
