<h1 class="title" (click)="reset()">Connect 4{{getStatusLabel(status)}}</h1>

<div class="row" [ngClass]="getRowClass(status)">
  <div class="maybe" *ngFor="let column of range(limit);" (click)="play(column)"></div>
</div>
