<div *ngIf="board" class="board">
  <div class="row" *ngFor="let row of range(board.rows);">
    <div class="column" *ngFor="let column of range(board.columns);">
      <app-cell [cell]="board.get(row, column)"></app-cell>
    </div>
  </div>
</div>
